 @charset "utf-8";

ul,h3,ol,body,a,div,b,dl,dd,dt{margin:0px;padding:0px;font:14px '宋体';}/* CSS Document */
li{list-style:none;}
a{text-decoration:none;}
.clearfix:after{content:"";clear:both;display:block;}

